{% extends "base_map.html" %}
{% load static %}
{% block title %}
    Data validation
{% endblock %}
{% block content %}

    <div id="overlay" style="z-index: 100000;">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    <div id="sidebar" class="position-absolute bg-white">
        <!-- SEARCH BAR -->
        <div class="pt-3 px-4">
            <div class="form-group">
                <label for="ident">Ident</label>
                <select id="ident" class="form-control " name="ident">
                    <option value="*">*</option>
                </select>
            </div>


            <div class="form-group">
                <label for="lon_lat" style="width: 100%">Lon lat</label>
                <select id="lon_lat" class="form-control " name="lon_lat">
                    <option value="*">*</option>
                </select>
            </div>


            <div class="form-group">
                <label for="network" style="width: 100%">Network</label>
                <select id="network" class="form-control to-disable" name="network">
                    <option value="*">*</option>
                </select>
            </div>

            <div hidden>
                <div class="form-group">
                    <label for="date" style="width: 100%">Date</label>
                    <select class="form-control to-disable" id="date" name="date">
                        <option value="*">*</option>
                    </select>
                </div>
            </div>


            <div class="form-group select-date">
                <label for="datetimepicker">Date</label>
                <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                    <input type="text"
                           class="form-control datetimepicker-input col-xs-10 to-disable"
                           data-target="#datetimepicker"/>
                    <div class="input-group-append col-xs-2"
                         data-target="#datetimepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="hour">Hour</label>
                <select class="form-control to-disable" id="hour" name="hour">
                    <option value="*">*</option>
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                </select>
            </div>


            <div class="form-group">
                <label for="vars" style="width: 100%">Vars</label>
                <select class="form-control to-disable" id="vars" name="vars">
                    <option value="*">*</option>
                </select>
            </div>


            <div class="form-group">
                <label for="timerange" style="width: 100%">Timerange</label>
                <select class="form-control to-disable" id="timerange" name="timerange">
                    <option value="*">*</option>
                </select>
            </div>


            <div class="form-group">
                <label for="level" style="width: 100%">Level</label>
                <select class="form-control to-disable" id="level" name="level">
                    <option value="*">*</option>
                </select>
            </div>


            <div class="form-group">
                <label for="dsn" style="width: 100%">DNS</label>
                <select class="form-control " id="dsn" name="dsn">
                    <option value="report">report</option>
                    <option value="sample">sample</option>
                </select>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-outline-success btn-block" id="searchButton" onclick="updateMap();">
                        <div class="d-flex flex-row justify-content-between"><i class="fa fa-search"></i> SEARCH</div>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div id="map"></div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'dynamic/js/DynamicFormPopulation.js' %}"></script>
    <script>

        var dynamicFormPopulation = new DynamicFormPopulation();

        function setpopup(data) {
            let popupText = "<div>" +
                "Ident: " + null2_(data.ident) +
                "<br>Lon: " + data.lon / 100000 +
                "<br>Lat: " + data.lat / 100000 +
                "<br>Network: " + data.network +
                "<br>Trange: " + borinud.config.trange.describe(data.trange[0], data.trange[1], data.trange[2]) +
                "<br>Level: " + borinud.config.level.describe(data.level[0], data.level[1], data.level[2], data.level[3]) +
                "<br>Date: " + data.date
            data.data.forEach((item) => {
                for (let key in item.vars) {
                    let b = borinud.config.B[key];
                    popupText += "<br>Var: " + b.description + " " + item.vars[key].v + " (" + b.unit + ")";
                    if (Object.keys(item.vars[key].a).length > 0) {
                        popupText += "<br><ul>"
                        for (let keyAttr in item.vars[key].a) {
                            let attr = item.vars[key].a[keyAttr];
                            popupText += keyAttr + ": " + attr;
                        }
                        popupText += "</ul>"
                    }

                }
            })
            if (dynamicFormPopulation.selected_values.dsn === 'sample' || dynamicFormPopulation.selected_values.dsn === 'report') {
                let {dateFrom, dateUntil} = selectedDateFormat()
                let urlGraph = `{{url_borinud}}/geojson/${null2_(data.ident)}/${data.lon + "," + data.lat}/` +
                    `${null2_(data.network)}/${data.trange[0] +
                    "," + data.trange[1] + "," + data.trange[2]}/${null2_(data.level[0]) + "," + null2_(data.level[1]) + "," +
                    null2_(data.level[2]) + "," + null2_(data.level[3])}/${dynamicFormPopulation.selected_values.vars}/` +
                    `timeseries/${dynamicFormPopulation.selected_values.date.split("-")[0]}/${dynamicFormPopulation.selected_values.date.split("-")[1]}/${dynamicFormPopulation.selected_values.date.split("-")[2]}` +
                    `${dynamicFormPopulation.selected_values.hour !== "*" ? "/" + dynamicFormPopulation.selected_values.hour : ""}?dsn=${dynamicFormPopulation.selected_values.dsn}`

                let headerModal = "Ident: " + null2_(data.ident) + " Coords: " + data.lat + "," + data.lon +
                    " Network:" + null2_(data.network)
                    + "<br>" + borinud.config.trange.describe(data.trange[0], data.trange[1], data.trange[2]) + "<br>"
                    + borinud.config.level.describe(data.level[0], data.level[1], data.level[2], data.level[3]) + "<br>" + dateFrom + " - " + dateUntil + "GMT"
                popupText += '<br><button onclick="showGraph(\'' + urlGraph + '\',\'' + headerModal + '\')" type="button" class="btn btn-primary btn-block open-graph" >Show graph</button>';

                if (dynamicFormPopulation.selected_values.vars === "B11001" || dynamicFormPopulation.selected_values.vars === "B11002") {
                    let urlDirWind = `{{url_borinud}}/dbajson/${null2_(data.ident)}/${data.lon + "," + data.lat}/` +
                        `${null2_(data.network)}/${data.trange[0] +
                        "," + data.trange[1] + "," + data.trange[2]}/${null2_(data.level[0]) + "," + null2_(data.level[1]) + "," +
                        null2_(data.level[2]) + "," + null2_(data.level[3])}/B11001/` +
                        `timeseries/${dynamicFormPopulation.selected_values.date.split("-")[0]}/${dynamicFormPopulation.selected_values.date.split("-")[1]}/${dynamicFormPopulation.selected_values.date.split("-")[2]}` +
                        `${dynamicFormPopulation.selected_values.hour !== "*" ? "/" + dynamicFormPopulation.selected_values.hour : ""}?dsn=${dynamicFormPopulation.selected_values.dsn}`
                    let urlSpeedWind = `{{url_borinud}}/dbajson/${null2_(data.ident)}/${data.lon + "," + data.lat}/` +
                        `${null2_(data.network)}/${data.trange[0] +
                        "," + data.trange[1] + "," + data.trange[2]}/${null2_(data.level[0]) + "," + null2_(data.level[1]) + "," +
                        null2_(data.level[2]) + "," + null2_(data.level[3])}/B11002/` +
                        `timeseries/${dynamicFormPopulation.selected_values.date.split("-")[0]}/${dynamicFormPopulation.selected_values.date.split("-")[1]}/${dynamicFormPopulation.selected_values.date.split("-")[2]}` +
                        `${dynamicFormPopulation.selected_values.hour !== "*" ? "/" + dynamicFormPopulation.selected_values.hour : ""}?dsn=${dynamicFormPopulation.selected_values.dsn}`
                    popupText += '<button onclick="showGraphWindRose(\'' + urlDirWind + '\',\'' + urlSpeedWind + '\')" type="button" class="btn btn-primary btn-block " >Show wind rose graph</button>';

                }

            }
            popupText += "</div>";
            return popupText;
        }

        function selectedDateFormat() {
            let dateFrom;
            let dateUntil;
            if (dynamicFormPopulation.selected_values.hour === "*") {
                dateFrom = "00:00_" + dynamicFormPopulation.selected_values.date.replace(/-/g, "")
                dateUntil = "23:59_" + dynamicFormPopulation.selected_values.date.replace(/-/g, "")
            } else {
                dateFrom = (parseInt(dynamicFormPopulation.selected_values.hour) - 1).toString().padStart(2, '0') + ":30_" + dynamicFormPopulation.selected_values.date.replace(/-/g, "")
                dateUntil = dynamicFormPopulation.selected_values.hour.padStart(2, '0') + ":30_" + dynamicFormPopulation.selected_values.date.replace(/-/g, "")
            }
            return {dateFrom, dateUntil};
        }

        //update map markers
        function updateMap() {

            legend.remove();
            pruneCluster.RemoveMarkers();

            if (dynamicFormPopulation.selected_values.vars !== "*") {
                $("#showGraphButton").attr("disabled", true)
                coords = [];
                min = Infinity;
                max = -Infinity;

                //create request url
                var url = `{{url_borinud}}/dbajson/${dynamicFormPopulation.selected_values.ident}/${dynamicFormPopulation.selected_values.lon_lat}/` +
                    `${dynamicFormPopulation.selected_values.network}/${dynamicFormPopulation.selected_values.timerange}/${dynamicFormPopulation.selected_values.level}/${dynamicFormPopulation.selected_values.vars}/` +
                    `spatialseries/${dynamicFormPopulation.selected_values.date.split("-")[0]}/${dynamicFormPopulation.selected_values.date.split("-")[1]}/${dynamicFormPopulation.selected_values.date.split("-")[2]}` +
                    `${dynamicFormPopulation.selected_values.hour !== "*" ? "/" + dynamicFormPopulation.selected_values.hour : ""}?dsn=${dynamicFormPopulation.selected_values.dsn}&query=attr`;

                //require map point
                $.ajax({
                        url: url,
                        dataType: "json",
                        success: function (collection) {
                            if (collection.length <= 0) {
                                toastr.warning('Nessun risultato!')
                            } else {
                                $("#showGraphButton").attr("disabled", false)
                                if (dynamicFormPopulation.selected_values.vars !== "*") {
                                    bcode = borinud.config.B[dynamicFormPopulation.selected_values.vars];
                                } else {
                                    bcode = {
                                        "bcode": "B00001",
                                        "description": "Undefined",
                                        "unit": "Undefined",
                                        "offset": 0,
                                        "scale": 1,
                                        "userunit": ""
                                    }
                                }
                                if (!bcode.scale)
                                    bcode.scale = 1
                                if (!bcode.offset)
                                    bcode.offset = 0
                                for (let i = 0; i < collection.length; i++) {
                                    min = Math.min(min, collection[i].data.map((item) => {
                                        if (dynamicFormPopulation.selected_values.vars in item.vars)
                                            return item.vars[dynamicFormPopulation.selected_values.vars].v
                                    }));
                                    max = Math.max(max, collection[i].data.map((item) => {
                                        if (dynamicFormPopulation.selected_values.vars in item.vars)
                                            return item.vars[dynamicFormPopulation.selected_values.vars].v
                                    }));
                                }
                                //  Legend
                                legend.onAdd = function (map) {
                                    let div = L.DomUtil.create('div', 'info legend');
                                    // loop through our density intervals and generate a label with a colored square for each interval
                                    let halfdelta = ((max - min) / (colors.length * 2.));

                                    for (let i = 0; i < colors.length; i++) {
                                        let grade = min + halfdelta * (i * 2 + 1);
                                        div.innerHTML +=
                                            '<div style="background:white">' +
                                            '<b style="background:' + getColor(grade, min, max) + '">&nbsp;&nbsp;&nbsp;</b>&nbsp;' +
                                            (grade * bcode.scale + bcode.offset).toPrecision(5).replace(/\.?0+$/, "") +
                                            '<br>' +
                                            '</div>';
                                    }
                                    return div;
                                };

                                legend.addTo(map);

                                let pi2 = Math.PI * 2;
                                L.Icon.MarkerCluster = L.Icon.extend({
                                    options: {
                                        iconSize: new L.Point(44, 44),
                                        className: 'prunecluster leaflet-markercluster-icon'
                                    },

                                    createIcon: function () {
                                        let e = document.createElement('canvas');
                                        this._setIconStyles(e, 'icon');
                                        let s = this.options.iconSize;
                                        e.width = s.x;
                                        e.height = s.y;
                                        this.draw(e.getContext('2d'), s.x, s.y);
                                        return e;
                                    },

                                    createShadow: function () {
                                        return null;
                                    },

                                    draw: function (canvas, width, height) {
                                        let start = 0;
                                        let prevalent = 0;
                                        let prevalentindex = 0;
                                        for (let i = 0, l = colors.length; i < l; ++i) {
                                            var size = this.stats[i] / this.population;
                                            if (size > 0) {
                                                if (this.stats[i] > prevalent) {
                                                    prevalentindex = i;
                                                    prevalent = this.stats[i];
                                                }
                                                canvas.beginPath();
                                                canvas.moveTo(22, 22);
                                                canvas.fillStyle = colors[i];
                                                let from = start;
                                                let to = start + size * pi2;
                                                if (to < from) {
                                                    from = start;
                                                }
                                                canvas.arc(22, 22, 22, from, to);
                                                start = to;
                                                canvas.lineTo(22, 22);
                                                //canvas.stroke();
                                                canvas.fill();
                                                canvas.closePath();
                                            }
                                        }
                                        canvas.beginPath();
                                        canvas.fillStyle = "#fff";
                                        canvas.arc(22, 22, 15, 0, Math.PI * 2);
                                        canvas.stroke();
                                        canvas.fill();
                                        canvas.closePath();
                                        canvas.fillStyle = '#111';
                                        canvas.textAlign = 'center';
                                        canvas.textBaseline = 'middle';
                                        canvas.font = 'bold 10px sans-serif';
                                        //canvas.fillText(this.population, 22, 22,28);
                                        let halfdelta = ((max - min) / (colors.length * 2.));
                                        let grade = min + halfdelta * (prevalentindex * 2 + 1);
                                        grade = (grade * bcode.scale + bcode.offset).toPrecision(5).replace(/\.?0+$/, "");
                                        canvas.fillText(grade, 22, 22, 28);
                                    }
                                });

                                pruneCluster.Cluster.Size = 15;

                                pruneCluster.BuildLeafletClusterIcon = function (cluster) {
                                    let e = new L.Icon.MarkerCluster();
                                    e.stats = cluster.stats;
                                    e.population = cluster.population;

                                    //this try to make the little values more visible (no less of 5%)
                                    for (let i = 0, l = e.stats.length; i < l; ++i) {
                                        if ((e.stats[i] > 0) && ((e.stats[i] / e.population) < 0.1)) {
                                            let inc = (e.population * 0.05) - e.stats[i];
                                            e.stats[i] += inc;
                                            e.population += inc;
                                        }
                                    }

                                    return e;
                                };

                                pruneCluster.PrepareLeafletMarker = function (leafletMarker, data) {
                                    if (leafletMarker.getPopup()) {
                                        leafletMarker.setPopupContent(setpopup(data));
                                    } else {
                                        leafletMarker.bindPopup(setpopup(data));
                                    }
                                    let val = (data.value * bcode.scale + bcode.offset).toPrecision(5).replace(/\.?0+$/, "");
                                    let vallen = val.length * 6 + 6;
                                    leafletMarker.setIcon(
                                        L.extendedDivIcon({
                                            iconSize: new L.Point(vallen, 14),
                                            labelAnchor: [vallen / 2, 0],
                                            html: val,
                                            className: 'myDivIcon',
                                            style: {backgroundColor: getColor(data.value, min, max)}
                                        })
                                    );
                                    leafletMarker.bindTooltip(data.date.toString());
                                };

                                $.each(collection, function (i, feature) {

                                    coords.push([feature.lat / 100000, feature.lon / 100000]);

                                    let marker = new PruneCluster.Marker(feature.lat / 100000, feature.lon / 100000);
                                    marker.data = feature;
                                    marker.data.value = 0
                                    feature.data.forEach((item) => {
                                        if (dynamicFormPopulation.selected_values.vars in item.vars) {
                                            marker.data.value = item.vars[dynamicFormPopulation.selected_values.vars].v
                                            marker.data.trange = item.timerange
                                            marker.data.level = item.level
                                        }
                                    })
                                    marker.category = getColorIndex(marker.data.value, min, max);

                                    pruneCluster.RegisterMarker(marker);
                                });

                                map.addLayer(pruneCluster);

                                try {
                                    map.fitBounds(coords);
                                } catch (err) {
                                    toastr.error("Error setting bounds...");
                                }

                            }

                        },
                        beforeSend: function () {
                            $("#overlay").fadeIn(300);
                        },
                        complete: function () {
                            $("#overlay").fadeOut(300);
                        },

                    }
                )
            } else {
                toastr.error("Select a var")
            }
        }


        var pruneCluster = new PruneClusterForLeaflet();
        /*
        var today = new Date()
        var today_string = moment(today).format('YYYY-MM-DD');
        var tomorrow_string = moment(today).add(1, 'days').format('YYYY-MM-DD');
        */
        /**
         * required combination of all summaries and put these in select_values_lists
         *
         */
        $.ajax({
            url: "{{ url_borinud }}/jsonline/*/*/*/*/*/*/summaries",
            dataType: "text",
            success: function (resp) {
                resp = (JSON.parse("{\"j\":[" + resp.replace(/}\n{/g, "}, {") + "]}")).j;

                for (var r of resp) {
                    dynamicFormPopulation.select_values_lists.ident.push(r.ident + "");
                    dynamicFormPopulation.select_values_lists.lon_lat.push(r.lon + "," + r.lat);
                    dynamicFormPopulation.select_values_lists.network.push(r.network + "");
                    dynamicFormPopulation.select_values_lists.date.push((r.date[0] + "").substring(0, 10));
                    let d = r.data[0];
                    dynamicFormPopulation.select_values_lists.vars.push(Object.keys(d.vars)[0] + "");
                    dynamicFormPopulation.select_values_lists.timerange.push(d.timerange + "");
                    let level = d.level.map((level) => {
                        if (level == null) {
                            return "-"
                        }
                        return level
                    })
                    dynamicFormPopulation.select_values_lists.level.push(level + "");
                }
                dynamicFormPopulation.populateForm(undefined);

            },
            beforeSend: function () {
                $("#overlay").fadeIn(300);
            },
            complete: function () {
                $("#overlay").fadeOut(300);
            },
            error: function (e) {
                toastr.error("Borinud not available!")
                $("#searchButton").attr("disabled", true)
                console.log(e.toString());
            }
        });
        var map = L.map('map', {
            zoomControl: false,
        }).setView([43, 11], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);
        L.control.zoom({position: 'topright'}).addTo(map);

        var coords = [];
        var legend = L.control({position: 'bottomright'});
        var min = Infinity;
        var max = -Infinity;

        var bcode = {
            "bcode": "B00001",
            "description": "Undefined",
            "unit": "Undefined",
            "offset": 0,
            "scale": 1,
            "userunit": ""
        }


    </script>

{% endblock %}


